body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #8c8c8c;
}

a:hover {
    color: #e89b99;
}

.header-sale{
    border-left: 1px solid #f2f2f2;
    color: #ff6666;
    margin-left: 25px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .banner {
        width: 100%;
    }
}